.solution-heading {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 700px;
    color: green;
    padding: 30px 30px 0px 30px;
}

.solution-paragraph {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 350px;
    padding: 10px 30px 0px 30px;
    line-height: 1.5em;
    text-align: left;
}

.solution-parent-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.solution-first-dev {
    width: 280px;
    border: 1px solid green;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 2em;
    padding: 30px 20px 30px 20px;
    background: rgba(0, 153, 51, 0.1);
}

.solution-first-dev>button {
    width: 150px;
    height: 50px;
    background: #00541C;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #FFFFFF;
}

.solution-first-dev>h1,.solution-all-div>h1{
font-size: 25px;
font-family: sans-serif;
}
.solution-all-div {
    width: 280px;
    border: 1px solid green;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 2em;
    padding: 30px 20px 30px 20px;
}

.solution-all-div>button {
    width: 150px;
    height: 50px;
    background: #00541C;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #FFFFFF;
}

@media (max-width:375px) {
    .solution-heading {
        font-size: 25px;
        font-weight: 400px;
    }

    .solution-paragraph {
        font-size: 18px;
        font-weight: 250px;
    }

    .solution-first-dev {
        width: 220px;
        padding: 30px 20px 20px 20px;
    }

    .solution-all-div {
        width: 220px;
        padding: 30px 20px 20px 20px;
    }
}