* {
    padding: 0;
    margin: 0;
}

.parent-div {
    background: #021F0B;
    width: 100%;
    min-height: 658px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.parent-div-first-child {
    width: 40%;
}

.description {
    padding: 20px;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.peragraph {
    padding: 20px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.parent-div-first-child-subchild {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.description-btn1 {
    width: 235px;
    height: 70px;
    background: #00541C;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #FFFFFF;
}

.description-btn2 {
    width: 235px;
    height: 70px;
    background: linear-gradient(0deg, rgba(58, 58, 58, 0.15), rgba(58, 58, 58, 0.15)), #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #00541C;
}

.parent-div-second-child {
    position: relative;
    width: 50%;
}

.first-img {
    position: absolute;
    width: 377px;
    height: auto;
    top: -250px;
}

.second-img {
    position: absolute;
    width: 475px;
    height: auto;
    left: 140px;
    top: -5px;
}

@media screen and (max-width: 1200px) {
    .description-btn1 {
        margin-bottom: 20px;
        width: 325px;
        height: 80px;
    }

    .description-btn2 {
        margin-bottom: 20px;
        width: 325px;
        height: 80px;
    }

    .first-img {
        position: static;
    }

    .second-img {
        position: static;
        max-width: 370px;
        height: auto;
    }


}

@media screen and (max-width: 820px) {
    .description {
        padding: 15px;
        font-family: Roboto;
        font-size: 35px;
        font-weight: 400;
        line-height: 40px;
    }

    .peragraph {
        padding: 15px;
        font-family: Roboto;
        font-size: 25px;
        font-weight: 250;
        line-height: 28px;
    }

    .parent-div {
        flex-direction: column;
    }

    .parent-div-first-child {
        width: 100%;
    }

    .parent-div-second-child {
        width: 100%;
    }

    .parent-div-second-child {
        display: flex;
        flex-wrap: wrap;
    }

    .first-img {
        display: flex;
        margin: auto;
    }

    .second-img {
        display: flex;
        width: 370px;
        margin: auto;
        margin-bottom: 20px;
    }

    .parent-div-first-child-subchild {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-around;
    }

    .description-btn1 {
        margin-bottom: 10px;
        width: 325px;
        height: 80px;
    }

    .description-btn2 {
        margin-bottom: 10px;
        width: 325px;
        height: 80px;
    }
}

@media (max-width:375px) {
    .description {
        padding: 15px;
        font-family: Roboto;
        font-size: 25px;
        font-weight: 400;
        line-height: 40px;
    }

    .peragraph {
        padding: 15px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 250;
        line-height: 28px;
    }

    .description-btn1 {
        width: 270px;
        height: 70px;
    }

    .description-btn2 {
        width: 270px;
        height: 70px;
    }

    .first-img {
        display: flex;
        margin: auto;
        width: 275px;
    }

    .second-img {
        display: flex;
        width: 275px;
        margin: auto;
        margin-bottom: 20px;
    }
}