* {
    padding: 0;
    margin: 0;
}

.general-heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #00541C;
    line-height: 3em;
    padding-left: 60px;
    padding-top: 20px;
}

.general-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.general-child {
    width: 340px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 84, 28, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.general-img {
    width: 95%;
    display: flex;
    margin: auto;
}

.general-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #00541C;
    padding-top: 20px;
}

.general-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00541C;
}

.general-instructor {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #009933;
}

.general-rating {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: rgba(58, 58, 58, 0.9);
}

.general-duration-difficulty-price {
    display: flex;
    justify-content: space-between;
}

.general-duration,
.general-difficulty {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00541C;
}

.general-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #00541C;
}

@media (max-width:400px) {
    .general-child {
        width: 250px;
        padding: 20px;
        margin-top: 20px;
    }

    .general-heading {
        padding-left: 20px;
    }

}